<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover</Format>
          <Exclude>
            [EssentialFrame.Tests.UnitTests]*,
            [EssentialFrame.Cqrs.Commands.Tests.UnitTests]*,
            [EssentialFrame.Cqrs.Commands.Validations.Tests.UnitTests]*,
            [EssentialFrame.Cqrs.Events.Tests.UnitTests]*,
            [EssentialFrame.Domain.Tests.UnitTests]*,
            [EssentialFrame.Domain.Events.Tests.UnitTests]*,
            [EssentialFrame.Cqrs.Queries.Tests.UnitTests]*,
            [EssentialFrame.Tests.ArchitectureTests]*,
            [EssentialFrame.Tests.IntegrationTests]*,
            [EssentialFrame.Tests.Utils]*,
            [EssentialFrame.ExampleApp]*,
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>